body{
	background:url("images/background1.jpg");
	background-size:100% 100%;
	background-attachment:fixed;
	color:#fff;
}

.header{
	border-bottom:1px solid #fff;
	max-width:100%; 
	padding:5px;
	font-size: 15px;
 }

 .login {
	 width: 400px;
	 height: 340;
	 margin: auto;
 } 

 input[type=text] {
	display: inline-block;
	padding: 5px 5px;
	margin: 4px  5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box; 
	
 }

input[type=password] {
	display: inline-block;
	padding: 5px 5px;
	margin: 4px  5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box; 
	}


 input[type=submit] {
	padding: 5px 5px;
	margin: 4px  5px;
	border: none;
	border-radius: 4px;
	background-color: #4CAF50;
	cursor: pointer;
 }


