body{
	 background:url("images/background1.jpg");
	 background-size:100% 100%;
	 background-attachment:fixed;
	 color:#fff;
}

.header{
	 border-bottom:1px solid #fff;
	 max-width:100%; 
	 padding:5px;
	 font-size: 15px;
 }
 .login {
	 width: 400px;
	 height: 340;
	 margin: auto;
	 margin-top: 140px;
	 box-sizing: border-box;
	 box-shadow: 7px 13px 37px #000;
	 padding: 20px 30px;
	 border-top: 4px solid #017bab;
 } 

 .login h3 {
	 margin: 0;
	 height: 40px;
	 margin-bottom: 30px;
	 border-bottom: 1px solid;
	 font-size: 20px;
 }

 .user {
	 width: 94%;
	 border: 1px solid #017bab;
	 margin-bottom: 15px;
	 padding: 11px 10px;
	 font-size: 14px;
 }

 .buttons {
	 color: white;
	 width: 100%;
	 height: 40px;
	 background: #017bab;
	 border: none;
	 font-size: 14px;
	 cursor:pointer;
 }

 .login p {
	 height: 40px;
	 text-align: center;
	 border-bottom: 1px solid;
 }

 .login a {
	 text-decoration: none;
	 text-align: center:
 }

 .login a:hover {
	 text-decoration: underline;
 }

